.header {
    background-color: var(--background_color_app);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    padding: 6px;
}

.logo {
    color: var(--text_app_color);
    padding: 1px;
    letter-spacing: 1.5px;
    font-weight: 900;
    font-style: normal;
}
