.card {
    padding: 5px;
    margin-top: 15px;
}

.homeH {
    color: var(--text_app_color);
}

.homeP {
    color: var(--text_app_color_2);
    margin-top: 5px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}