.newEducation {
    align-items: center;
    justify-content: center;
    display: flex;
}

.formPdn {
    padding: 22px;

    width: min-content;
}

.newEducation h3 {
    color: var(--text_app_color);
    margin-bottom: 15px;
}

.btn {
    padding: 4px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.flexBox {
    display: flex;
    align-items: start;
    justify-content: space-between;
}